*{
    margin: 0 ;
    padding: 0;
    font-family: poppin,Tahoma,Arial,微软雅黑,sans-serif;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#333333;
}
a:hover{
    color: #31c27c;
}
.header{
    width: 100%;
    height: 142px;
    background-color:#FFFFFF ;
}
.header-inner{
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-inner-top,.header-inner-bottom{
    /*border: blue solid 1px;*/
    width: 100%;
    max-width: 1200px;
    min-width: 1072px;
}
.header-inner-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 2;
}
.header-inner-bottom{
    flex: 1;
}
.header1{
    height: 90px;
    flex: 1;
    /*border: red solid 1px;*/
}
.header a img{
    padding-left: 8px;
    padding-top: 22px;
    width: 170px;
    height: 46px;
}
.header2{
    height: 90px;
    flex:2.5;
    /*border: red solid 1px;*/
}
.header2 ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.header2 li{
    display: inline-block;
    height: 100%;
    flex: 1;
}
.header2 li a{
    display: inline-block;
    font: bold 16px "Microsoft Himalaya";
    height: 100%;
    line-height: 98px;
    width: 100%;
    text-align: center;
}
.header-music{
    background-color: #31c27c;
}
.header3{
    flex:1.5;
    height: 90px;
    /*border: red solid 1px;*/
    line-height: 90px;
    text-align: center;
}
.header3 input{
    border-radius: 5%;
    border: 1px solid #c9c9c9;
}
.header4{
    flex:1;
    height: 90px;
    /*border: red solid 1px;*/
    text-align: center;
    line-height: 90px;
}
.header4 input{
    background-color: #31c27c;
    color: #fff;
    border-radius: 3%;
    border: #31c27c solid 1px;
    width: 111px;
    height: 38px;
}
.header-inner-bottom{
    /*border: blue solid 1px;*/
    border-top: #F2F2F2 solid 1px;
    margin-top: -8px;
}
.header-inner-bottom ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}
.header-inner-bottom li{
    text-align: center;
    line-height: 269%;
}
.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2269px;
    /*max-height: 2417px;*/
    /*min-height: 2257px;*/
}
.hot{
    width: 100%;
    flex: 1;
    background: linear-gradient(180deg,#F2F2F2,white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hot-title{
    text-align: center;
}
.hot-title h2{
    margin: 0 auto;
    text-align: center;
    width: 196px;
    height: 40px;
    line-height: 40px;
    padding-top: 20px;
}
.hot-nav ul{
    width: 68%;
    height: 90%;
    margin: 0 auto;
    text-align: center;
}
.hot-nav li a{
    width: 100px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    float: left;
}
/*min-width: 900px;*/
/*min-height: 500px;*/
.hot-title{
    flex: 1.7;
    width: 10%;
    min-width: 900px;
    /*border: red solid 1px;*/
}
.hot-nav{
    flex: 1.1;
    width: 30%;
    min-width: 900px;
    /*border: blue solid 1px;*/
}
.hot-roll{
    flex: 5;
    /*max-width: 1200px;*/
    width: 83%;
    min-width:900px ;
    /*border: green solid 1px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hot-roll-a,.hot-roll-b,.hot-roll-c,.hot-roll-d,.hot-roll-e{
    flex: 1;
    /*border: red solid 1px;*/
}
.hot-roll ul{
    width: 83%;
    margin: 0 auto;
}
.hot-roll span{
    font: 400 14px "Microsoft Himalaya";
    line-height: 22px;
}
.hot-img{
    width: 85%;
    /*height: 18vw;*/
    margin: 0 auto;
    /*border: greenyellow solid 1px;*/
}
.hot-img img{
    width: 100%;
    max-height: 224px;
    max-width: 224px;
}

.hot-dot{
    flex: 1.3;
}

.footer{
    width: 100%;
    height: 589px;
    background-color: #333333;
}
.section-inner{
    width: 87%;
    min-width: 857px;
    height: 100%;
    margin: 0 auto;
    border: white solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-inner{
    flex: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: red solid 1px;*/
}
.footer-inner-top{
    width: 100%;
    flex: 3;
    border: white solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer1{
    border: green solid 1px;
    flex: 3;
}
.footer2{
    border: green solid 1px;
    flex: 2.7;
}
.footer3{
    flex: 2.5;
    border: green solid 1px;
    min-width: 200px;
    /*max-width: 300px;*/
}
.footer h4{
    color: #999 ;
    margin-top: 10px;
    padding: 30px 0px;
}
.footer3 ul{

}
.footer3 li a{
    color: #999 ;
    float: left;
    width: 100px;
    height: 21px;
    padding: 5px 0px;
}
.footer-inner-bottom{
    width: 98%;
    flex: 1;
    border: white solid 1px;
}
.footer-copyright{
    /*border:blue solid 1px;*/
    width: 100%;
    flex: 1;
}